[Unit]
    Description=Run Hello-World-App-Di service

    [Service]
    ExecStart=/var/hello-world-app-di/startup.sh
    ReadWriteDirectories=/home/vagrant/hell-world-app-di-provision/
    WorkingDirectory=/home/vagrant/hell-world-app-di-provision/
    Restart=always
    RestartSec=10
    SyslogIdentifier=hello-world-app-di_service
    User=aaronpenido

    [Install]
    WantedBy=multi-user.target
